<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362839000336-sro8u1ae0ihq1enr4695cnmj2it4egvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362839000336-sro8u1ae0ihq1enr4695cnmj2it4egvm</string>
	<key>API_KEY</key>
	<string>AIzaSyBJsPdAq4O2CzoXdCrnu8pRgeuklqPvF90</string>
	<key>GCM_SENDER_ID</key>
	<string>362839000336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huynh.listarFlutter</string>
	<key>PROJECT_ID</key>
	<string>listar-flux-ui-kit</string>
	<key>STORAGE_BUCKET</key>
	<string>listar-flux-ui-kit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362839000336:ios:66ce2a657ec9a313769195</string>
</dict>
</plist>